################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/bin/Debug/WindowsApplication.vshost.exe.manifest
/bin/Debug/WindowsApplication.vshost.exe
/AutoJs.sln
/AutoJs.csproj.user
/AutoJs.csproj
/.vs/AutoJs/v14/.suo
